.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.logo__img {
  background: var(--bg-gradient);
  width: 35px;
  height: 35px;
  line-height: 35px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img img {
  width: 100%;
}

.logo h2 {
  color: var(--heading-color);
  font-weight: 700 !important;
  font-size: 1.8rem;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item a {
  color: var(--heading-color);
  font-weight: 600 !important;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.1rem;
}

.nav__item a:hover {
  color: var(--primary-color);
}

.nav__right {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.register__btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  background: var(--primary-color);
  border-radius: 5px;
  font-family: var(--font-name);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.mobile__menu {
  color: var(--heading-color);
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.sticky__header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}
